<!DOCTYPE html>
<html lang="en">
<%- include("head") %>
<body>
<h1>Tạo đơn hàng</h1>
    <form action="/luu-don-hang" method="post">
        <select name="IDKH">
            <% khs.map( e=> {%>
            <option value="<%= e.IDKH %>"> <%= e.TenKH %> </option>
            <% }) %>
        </select>
        <label>Chọn Sản Phẩm</label>
        <ul>
            <% SPs.map( function (e) { %>
                <li><label><input type="checkbox" name="IDSP[]" value="<%= e.IDKH%>"/> <%= e.TenSP%></label></li>
          <%  }) %>
        </ul>
        <button type="submit">sumbit</button>
    </form>
</body>
</html>